@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 80px;
}
h2 {
    font-size: 64px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 20px;
}
img {
    width: 100%;
}

.l-h1 {
    line-height: 94px;
}
.l-h2 {
    line-height: 75px;
}
.l-h3 {
    line-height: 42px;
}
.l-h4 {
    line-height: 36px;
}
.l-h5 {
    line-height: 30px;
}

.header {
    height: 958px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../img/photo-1552393700-42696fb89bfa.png") no-repeat center/cover;
    color: white;

    span {
        font-size: 24px;
    }

    h3 {
        padding-top: 32px;
        padding-bottom: 48px;
    }

    ul {
        display: flex;
        li~li {
            padding-left: 16px;
        }
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
        padding-top: 64px;
        padding-bottom: 40px;
    }

    img {
        max-width: 384px;
        height: 384px;
        padding-bottom: 24px;
    }

    h3 {
        font-weight: bold;
    }

    .line {
        width: 384px;
        border-bottom: 1px solid #000;
        padding-bottom: 24px;
    }

    ul {
        padding-bottom: 56px;
        li {
            padding-top: 32px;
            h3::before {
                content: "";
                display: inline-block;
                width: 22px;
                height: 22px;
                border-radius: 100%;
                background-color: #891818;
                margin-right: 16px;
            }
        }
    }
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #000;
    color: white;
    padding-bottom: 160px;

    h2 {
        padding-top: 64px;
        padding-bottom: 16px;
    }

    h3 {
        padding-bottom: 32px;
    }
    p {
        padding-bottom: 68px;
    }

    ul {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        li ~ li {
            padding-left: 24px;

        }
    }
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .content {
        padding-bottom: 104px;
        h2 {
            padding-top: 64px;
            padding-bottom: 24px;
        }

        p {
            padding-top: 16px;
            padding-bottom: 56px;
        }

        ul {
            display: flex;
            justify-content: center;
            li ~ li {
                padding-left: 24px;
            }
        }
    }
}

.footer {
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;

    h2 {
        padding-top: 64px;
    }
    h3 {
        padding-top: 16px;
    }
}
